{% extends 'base.html' %} {% block main %}
<div class="jumbotron" style="width: 50%; margin: 50px auto;">
    {% if registered %}
    <h3>You're registered. Please Login</h3>
    {% else %}
    <form action="{% url 'user:user_register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail" />
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" />
        </div>
        <div class="mb-3">
            <label for="uploadProfilePic" class="form-label">Profile Pic</label>
            <input type="file" name="profile_pic" class="form-control" id="uploadProfilePic" />
        </div>
        <div class="mb-3">
            <br/>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
