{% extends 'base.html' %}

{% block main %}
    <div class="jumbotron" style="width: 50%; margin: 50px auto;">

        {% if registered %}
            <h3>You're already registered;</h3>
        {% else %}
            <form action="{% url 'user:user_register' %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
              <div class="mb-3">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="inputUsername">
              </div>
              <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword">
              </div>

                {{ profile_form.as_p }}
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
        {% endif %}

    </div>
{% endblock %}